<div id="back" class="emphasis"><%= link_to "Back to Campaign", campaign_path(@campaign) %></div>

<h2>Edit Adventure:</h2>
<%= form_for [@campaign, @adventure] do |f| %>
  <div><%= f.label :title, "Name:" %></div>
  <div><%= f.text_field :name %></div>
  <div><%= f.label :title, "Image(.jpg, .png):" %></div>
  <div><%= f.text_field :img_url %></div>
  <div><%= f.label :title, "Summary:" %></div>
  <div><%= f.text_area :summary, :cols => "24", :rows => "4"  %></div>

  <div><%= f.submit "Save Changes" %></div>
<% end %>

<%= form_for [@campaign, @adventure], method: :delete do |f| %>
  <%= f.submit "Delete Adventure", class: "delete" %>
<% end %>
