<div id="back" class="emphasis"><%= link_to "Back to Campaign", campaign_path(@campaign) %></div>

<h2>Make a New Character:</h2>
<%= form_for [@campaign, @character] do |f| %>
  <div><%= f.label :title, "Character Name:" %></div>
  <div><%= f.text_field :char_name %></div>
  <div><%= f.label :title, "Player Name:" %></div>
  <div><%= f.text_field :player_name %></div>
  <div><%= f.label :title, "Image of Player (.jpg, .png):" %></div>
  <div><%= f.text_field :img_url %></div>
  <div><%= f.label :title, "Level:" %></div>
  <div><%= f.text_field :level %></div>
  <div><%= f.label :title, "Class:" %></div>
  <div><%= f.select :klass, ['Barbarian', 'Bard', 'Cleric', 'Druid', 'Fighter', 'Wizard', 'Monk', 'Paladin', 'Ranger', 'Sorcerer', 'Rogue', 'Warlock']%></div>
  <div><%= f.label :title, "Race:" %></div>
  <div><%= f.select :race, ['Elf', 'Dwarf', 'Halfling', 'Human'] %></div>
  <div><%= f.label :title, "Background:" %></div>
  <div><%= f.select :background, ['Noble', 'Soldier', 'Acolyte', 'Criminal', 'Sage', 'Folk Hero', 'Spy'] %></div>
  <div><%= f.label :title, "Alignment:" %></div>
  <div><%= f.select :alignment, ['Lawful Good', 'Neutral Good', 'Chaotic Good', 'Lawful Neutral', 'Neutral', 'Chaotic Neutral', 'Lawful Evil', 'Neutral Evil', 'Chaotic Evil'] %></div>
  <div><%= f.label :title, "Archetype (Level 3+):" %></div>
  <div><%= f.text_field :archetype %></div>
  <div><%= f.label :title, "XP:" %></div>
  <div><%= f.text_field :xp %></div>
  <div><%= f.label :title, "Max HP:" %></div>
  <div><%= f.text_field :hp_max %></div>
  <div><%= f.label :title, "Current HP:" %></div>
  <div><%= f.text_field :hp_current %></div>
  <div><%= f.label :title, "Armor Class:" %></div>
  <div><%= f.text_field :armor_class %></div>
  <div><%= f.label :title, "Initiative:" %></div>
  <div><%= f.text_field :initiative %></div>
  <div><%= f.label :title, "Speed:" %></div>
  <div><%= f.text_field :speed %></div>
  <div><%= f.label :title, "Proficiency Bonus:" %></div>
  <div><%= f.text_field :prof_bonus %></div>
  <div><%= f.label :title, "Inspiration:" %></div>
  <div><%= f.text_field :inspiration %></div>
  <div><%= f.label :title, "Languages:" %></div>
  <div><%= f.text_area :languages, :cols => "24", :rows => "4" %></div>
  <div><%= f.label :title, "Feautures:" %></div>
  <div><%= f.text_area :features, :cols => "24", :rows => "4" %></div>
  <div><%= f.label :title, "Equipment:" %></div>
  <div><%= f.text_area :equipment, :cols => "24", :rows => "4" %></div>
  <div><%= f.label :title, "Personality:" %></div>
  <div><%= f.text_area :personality, :cols => "24", :rows => "4" %></div>
  <div><%= f.label :title, "Ideals:" %></div>
  <div><%= f.text_area :ideals, :cols => "24", :rows => "4" %></div>
  <div><%= f.label :title, "Bonds:" %></div>
  <div><%= f.text_area :bonds, :cols => "24", :rows => "4" %></div>
  <div><%= f.label :title, "Flaws:" %></div>
  <div><%= f.text_area :flaws, :cols => "24", :rows => "4" %></div>
  <div><%= f.submit "Create" %></div>
<% end %>
