<%= render "layouts/logo" %>
<div id="back" class="emphasis"><%= link_to "Back to Campaign", campaign_path(@campaign) %></div>

<h2 id="charName"><%= @character.char_name %></h2>
  <div><img class="float" src="<%= @character.img_url %>"/></div>
  <div><span class="emphasis">Updated At: </span><%= @character.updated_at %></div>
  <div><span class="emphasis">Player Name: </span><%= @character.player_name %></div>
  <div><span class="emphasis">Class: </span><%= @character.klass.capitalize %></div>
  <div><span class="emphasis">Level: </span><%= @character.level %></div>
  <div><span class="emphasis">Race: </span><%= @character.race %></div>
  <div><span class="emphasis">Background: </span><%= @character.background %></div>
  <div><span class="emphasis">Alignment: </span><%= @character.alignment %></div>
  <div><span class="emphasis">Archetype (Level 3+): </span><%= @character.archetype %></div>
  <div><span class="emphasis">XP: </span><%= @character.xp %></div>
  <div><span class="emphasis">Max HP: </span><%= @character.hp_max %></div>
  <div><span class="emphasis">Current HP: </span><%= @character.hp_current %></div>
  <div><span class="emphasis">Armor Class: </span><%= @character.armor_class %></div>
  <div><span class="emphasis">Initiative: </span>+<%= @character.initiative %></div>
  <div><span class="emphasis">Speed: </span><%= @character.speed %></div>
  <div><span class="emphasis">Proficieny Bonus: </span>+<%= @character.prof_bonus %></div>
  <div><span class="emphasis">Inspiration: </span>+<%= @character.inspiration %></div>
  <div><span class="emphasis">Languages: </span><%= @character.languages %></div>
  <div><span class="emphasis">Features: </span><%= @character.features %></div>
  <div><span class="emphasis">Equipment: </span><%= @character.equipment %></div>
  <div><span class="emphasis">Personality: </span><%= @character.personality %></div>
  <div><span class="emphasis">Ideals: </span><%= @character.ideals %></div>
  <div><span class="emphasis">Bonds: </span><%= @character.bonds %></div>
  <div><span class="emphasis">Flaws: </span><%= @character.flaws %></div>
<button class="makeButton"><%= link_to "Edit", edit_campaign_character_path(@campaign, @character ) %></button>
<h2>Abilities &amp; Skills</h2>
<% if @character.ability %>
<div class="container">
  <div class="col-sm-6">
    <div><span class="emphasis">Strength: </span><%= @character.ability.strength %></div>
    <div><span class="emphasis">Strength Modifier: </span><%= @character.ability.strength_mod %></div>
    <div><span class="emphasis">Dexterity: </span><%= @character.ability.dexterity %></div>
    <div><span class="emphasis">Dexterity Modifier: </span><%= @character.ability.dexterity_mod %></div>
    <div><span class="emphasis">Constitution: </span><%= @character.ability.constitution %></div>
    <div><span class="emphasis">Constitution Modifier: </span><%= @character.ability.constitution_mod %></div>
    <div><span class="emphasis">Intelligence: </span><%= @character.ability.intelligence %></div>
    <div><span class="emphasis">Intelligence Modifier: </span><%= @character.ability.intelligence_mod %></div>
    <div><span class="emphasis">Wisdom: </span><%= @character.ability.wisdom %></div>
    <div><span class="emphasis">Wisdom Modifier: </span><%= @character.ability.wisdom_mod %></div>
    <div><span class="emphasis">Charisma: </span><%= @character.ability.charisma %></div>
    <div><span class="emphasis">Charisma Modifier: </span><%= @character.ability.charisma_mod %></div>
  </br>
    <div><p>Use your ability modifiers to complete your skills! Don't forget to add the value of your proficiency bonus to your designated proficient skills.</p></div>
  </div>
  <div class="col-sm-6">
    <div><span class="emphasis">Acrobatics (Dex): </span><%= @character.ability.acrobatics %></div>
    <div><span class="emphasis">Animal Handling (Wis): </span><%= @character.ability.animal_handling %></div>
    <div><span class="emphasis">Arcana (Int): </span><%= @character.ability.arcana %></div>
    <div><span class="emphasis">Athletics (Str): </span><%= @character.ability.athletics %></div>
    <div><span class="emphasis">Deception (Cha): </span><%= @character.ability.deception %></div>
    <div><span class="emphasis">History (Int): </span><%= @character.ability.history %></div>
    <div><span class="emphasis">Insight (Wis): </span><%= @character.ability.insight %></div>
    <div><span class="emphasis">Intimidation (Cha): </span><%= @character.ability.intimidation %></div>
    <div><span class="emphasis">Investigation (Int): </span><%= @character.ability.investigation %></div>
    <div><span class="emphasis">Medicine (Wis): </span><%= @character.ability.medicine %></div>
    <div><span class="emphasis">Nature (Int): </span><%= @character.ability.nature %></div>
    <div><span class="emphasis">Perception (Wis): </span><%= @character.ability.perception %></div>
    <div><span class="emphasis">Performance (Cha): </span><%= @character.ability.performance %></div>
    <div><span class="emphasis">Persuasion (Cha): </span><%= @character.ability.persuasion %></div>
    <div><span class="emphasis">Religion (Int): </span><%= @character.ability.religion %></div>
    <div><span class="emphasis">Sleight of Hand (Dex): </span><%= @character.ability.sleight_hand %></div>
    <div><span class="emphasis">Stealth (Dex): </span><%= @character.ability.stealth %></div>
    <div><span class="emphasis">Survival (Wis): </span><%= @character.ability.survival %></div>
    <div><span class="emphasis">Passive Wisdom (Perception): </span><%= @character.ability.perception %></div>
  </div>
</div>
<button class="makeButton"><%= link_to "Edit", edit_campaign_character_ability_path( @campaign, @character ) %></button>
<% else %>
<button class="makeButton"><%= link_to "Add", new_campaign_character_ability_path( @campaign, @character ) %></button>
<% end %>

<h2>Spells <%= link_to "(+)", new_campaign_character_spell_path( @campaign , @character) %></h2>
<% @character.spells.each do |spell| %>
    <h4 class="emphasis"><%= link_to "#{spell.name}", campaign_character_spell_path( @campaign, @character, spell ) %></h4>
    <div><%= spell.description %></div>
    <div><button class="makeButton"><%= link_to "Edit", edit_campaign_character_spell_path( @campaign, @character, spell ) %></button></div>
    <div><%= form_for [@campaign, @character, spell], method: :delete do |f| %>
      <%= f.submit "Delete", class: "delete" %>
    <% end %></div>
<% end %>
