<%= render "layouts/logo" %>
<div id="back" class="emphasis"><%= link_to "Back to Campaign", campaign_path(@campaign) %></div>

<h2 id="charName"><%= @character.char_name %></h2>
  <div><img class="float" src="<%= @character.img_url %>"/></div>
  <div><span class="emphasis">Updated At: </span><%= @character.updated_at %></div>
  <div><span class="emphasis">Player Name: </span><%= @character.player_name %></div>
  <div><span class="emphasis">Class: </span><%= @character.klass.capitalize %></div>
  <div><span class="emphasis">Level: </span><%= @character.level %></div>
  <div><span class="emphasis">Race: </span><%= @character.race %></div>
  <div><span class="emphasis">Background: </span><%= @character.background %></div>
  <div><span class="emphasis">Alignment: </span><%= @character.alignment %></div>
  <div><span class="emphasis">Archetype (Level 3+): </span><%= @character.archetype %></div>
  <div><span class="emphasis">XP: </span><%= @character.xp %></div>
  <div><span class="emphasis">Max HP: </span><%= @character.hp_max %></div>
  <div><span class="emphasis">Current HP: </span><%= @character.hp_current %></div>
  <div><span class="emphasis">Armor Class: </span><%= @character.armor_class %></div>
  <div><span class="emphasis">Initiative: </span>+<%= @character.initiative %></div>
  <div><span class="emphasis">Speed: </span><%= @character.speed %></div>
  <div><span class="emphasis">Proficieny Bonus: </span>+<%= @character.prof_bonus %></div>
  <div><span class="emphasis">Inspiration: </span>+<%= @character.inspiration %></div>
  <div><span class="emphasis">Languages: </span><%= @character.languages %></div>
  <div><span class="emphasis">Features: </span><%= @character.features %></div>
  <div><span class="emphasis">Equipment: </span><%= @character.equipment %></div>
  <div><span class="emphasis">Personality: </span><%= @character.personality %></div>
  <div><span class="emphasis">Ideals: </span><%= @character.ideals %></div>
  <div><span class="emphasis">Bonds: </span><%= @character.bonds %></div>
  <div><span class="emphasis">Flaws: </span><%= @character.flaws %></div>
<button class="makeButton"><%= link_to "Edit", edit_campaign_character_path(@campaign, @character ) %></button>
<h2>Abilities</h2>
<% if @character.ability %>
<button class="makeButton"><%= link_to "See Abilities", campaign_character_ability_path( @campaign, @character ) %></button>
<button class="makeButton"><%= link_to "Edit Abilities", edit_campaign_character_ability_path( @campaign, @character ) %></button>
<div><span class="emphasis">Strength: </span><%= @character.ability.strength %></div>
<div><span class="emphasis">Strength Modifier: </span><%= @character.ability.strength_mod %></div>
<div><span class="emphasis">Dexterity: </span><%= @character.ability.dexterity %></div>
<div><span class="emphasis">Dexterity Modifier: </span><%= @character.ability.dexterity_mod %></div>
<div><span class="emphasis">Constitution: </span><%= @character.ability.constitution %></div>
<div><span class="emphasis">Constitution Modifier: </span><%= @character.ability.constitution_mod %></div>
<div><span class="emphasis">Intelligence: </span><%= @character.ability.intelligence %></div>
<div><span class="emphasis">Intelligence Modifier: </span><%= @character.ability.intelligence_mod %></div>
<div><span class="emphasis">Wisdom: </span><%= @character.ability.wisdom %></div>
<div><span class="emphasis">Wisdom Modifier: </span><%= @character.ability.wisdom_mod %></div>
<div><span class="emphasis">Charisma: </span><%= @character.ability.charisma %></div>
<div><span class="emphasis">Charisma Modifier: </span><%= @character.ability.charisma_mod %></div>
<% else %>
<button class="makeButton"><%= link_to "Add Abilities", new_campaign_character_ability_path( @campaign, @character ) %></button>
<% end %>
