<%= render "layouts/logo" %>
<div id="back" class="emphasis"><%= link_to "Back to Character", campaign_character_path(@campaign, @character) %></div>

<h2>Edit Abilities:</h2>
<%= form_for [@campaign, @character, @ability] do |f| %>
  <div><%= f.label :title, "Strength:" %></div>
  <div><%= f.text_field :strength %></div>
  <div><%= f.label :title, "Strength Modifier:" %></div>
  <div><%= f.text_field :strength_mod %></div>
  <div><%= f.label :title, "Dexterity:" %></div>
  <div><%= f.text_field :dexterity %></div>
  <div><%= f.label :title, "Dexterity Modifier:" %></div>
  <div><%= f.text_field :dexterity_mod %></div>
  <div><%= f.label :title, "Constitution:" %></div>
  <div><%= f.text_field :constitution %></div>
  <div><%= f.label :title, "Constitution Modifier:" %></div>
  <div><%= f.text_field :constitution_mod %></div>
  <div><%= f.label :title, "Intelligence:" %></div>
  <div><%= f.text_field :intelligence %></div>
  <div><%= f.label :title, "Intelligence Modifier:" %></div>
  <div><%= f.text_field :intelligence_mod %></div>
  <div><%= f.label :title, "Wisdom:" %></div>
  <div><%= f.text_field :wisdom %></div>
  <div><%= f.label :title, "Wisdom Modifier:" %></div>
  <div><%= f.text_field :wisdom_mod %></div>
  <div><%= f.label :title, "Charisma:" %></div>
  <div><%= f.text_field :charisma %></div>
  <div><%= f.label :title, "Charisma Modifier:" %></div>
  <div><%= f.text_field :charisma_mod %></div>

  <div><%= f.label :title, "Acrobatics:" %></div>
  <div><%= f.text_field :acrobatics %></div>
  <div><%= f.label :title, "Animal Handling:" %></div>
  <div><%= f.text_field :animal_handling %></div>
  <div><%= f.label :title, "Arcana:" %></div>
  <div><%= f.text_field :arcana %></div>
  <div><%= f.label :title, "Athletics:" %></div>
  <div><%= f.text_field :athletics %></div>
  <div><%= f.label :title, "Deception:" %></div>
  <div><%= f.text_field :deception %></div>
  <div><%= f.label :title, "History:" %></div>
  <div><%= f.text_field :history %></div>
  <div><%= f.label :title, "Insight:" %></div>
  <div><%= f.text_field :insight %></div>
  <div><%= f.label :title, "Intimidation:" %></div>
  <div><%= f.text_field :intimidation %></div>
  <div><%= f.label :title, "Investigation:" %></div>
  <div><%= f.text_field :investigation %></div>
  <div><%= f.label :title, "Medicine:" %></div>
  <div><%= f.text_field :medicine %></div>
  <div><%= f.label :title, "Nature:" %></div>
  <div><%= f.text_field :nature %></div>
  <div><%= f.label :title, "Perception:" %></div>
  <div><%= f.text_field :perception %></div>
  <div><%= f.label :title, "Performance:" %></div>
  <div><%= f.text_field :performance %></div>
  <div><%= f.label :title, "Persuasion:" %></div>
  <div><%= f.text_field :persuasion %></div>
  <div><%= f.label :title, "Religion:" %></div>
  <div><%= f.text_field :religion %></div>
  <div><%= f.label :title, "Sleight of Hand:" %></div>
  <div><%= f.text_field :sleight_hand %></div>
  <div><%= f.label :title, "Stealth:" %></div>
  <div><%= f.text_field :stealth %></div>
  <div><%= f.label :title, "Survival:" %></div>
  <div><%= f.text_field :survival %></div>
  <div><%= f.submit "Edit" %></div>
  
<% end %>
