<% if @campaign.img_url == "" %>
  <%= render "layouts/logo" %>
  <div id="back" class="emphasis"><%= link_to "Back to Campaigns", campaigns_path %></div>
  <h1 id="title"><%=@campaign.name%></h1>
<% elsif @campaign.img_url %>
  <div id="myCarousel" class="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img id="map" src="<%= @campaign.img_url %>">
        <div class="container">
          <div class="carousel-caption" id="title">
            <h1><%= @campaign.name %></h1>
          </div>
        </div>
      </div>
    </div>
    <div id="back" class="emphasis"><%= link_to "Back to Campaigns", campaigns_path %></div>
  </div>
<% else %>
<%= render "layouts/logo" %>
  <div id="back" class="emphasis"><%= link_to "Back to Campaigns", campaigns_path %></div>
  <h1 id="title"><%=@campaign.name%></h1>
<% end %>


  <div class="container">
    <div class="col-sm-4 col-sm-offset-1">
    <h3><%= @campaign.name %></h3>
    <div><span class="emphasis">Updated At: </span><%= @campaign.updated_at %></div>
    <div><%= @campaign.summary %></div>
    <h4 class="emphasis"><%= link_to "Map", @campaign.img_url %></h4>
    <button class="makeButton"><%= link_to "Edit Campaign", edit_campaign_path( @campaign ) %></button>

    <%= form_for @campaign, method: :delete do |f| %>
      <%= f.submit "Delete Entire Campaign", class: "delete" %>
    <% end %>
    </div>
    <div class="col-sm-4 col-sm-offset-1">
    <% if @campaign.dmaster %>
      <h3>Dungeon Master</h3>
        <h4 class="emphasis"><%= link_to "#{@campaign.dmaster.name}", campaign_dmaster_path(@campaign, @campaign.dmaster) %></h4>
        <div><button class="makeButton"><%= link_to "Edit", edit_campaign_dmaster_path( @campaign, @campaign.dmaster ) %></button></div>
    <% else %>
      <h3>Dungeon Master<%= link_to "(+)", new_campaign_dmaster_path( @campaign ) %></h3>
    <% end %>
  </div>
  </div>

</br>
<div class="container">
  <div class="col-sm-4 col-sm-offset-1">
  <h3>Characters <%= link_to "(+)", new_campaign_character_path( @campaign ) %></h3>
    <% @campaign.characters.each do |character| %>
        <h4 class="emphasis"><%= link_to "#{character.char_name}", campaign_character_path( @campaign, character ) %></h4>
        <h5><%= character.player_name %></h5>
        <div><button class="makeButton"><%= link_to "Edit", edit_campaign_character_path( @campaign, character ) %></button></div>
        <div><%= form_for [@campaign, character], method: :delete do |f| %>
          <%= f.submit "Delete", class: "delete" %>
        <% end %></div>
    <% end %>
  </div>
  <div class="col-sm-4 col-sm-offset-1">
    <h3>Adventures <%= link_to "(+)", new_campaign_adventure_path( @campaign ) %></h3>
      <% @campaign.adventures.each do |adventure| %>
          <h4 class="emphasis"><%= link_to "#{adventure.name}", campaign_adventure_path( @campaign, adventure ) %></h4>
          <div><button class="makeButton"><%= link_to "Edit", edit_campaign_adventure_path( @campaign, adventure ) %></button></div>
          <div><%= form_for [@campaign, adventure], method: :delete do |f| %>
            <%= f.submit "Delete", class: "delete" %>
          <% end %></div>
      <% end %>
  </div>
</div>
