
<div id="back" class="emphasis"><%= link_to "Back to Campaigns", campaigns_path %></div>

<h2><%= @campaign.name %></h2>
  <div><img class="float" src="<%= @campaign.img_url %>"/></div>
  <div><span class="emphasis">Updated At: </span><%= @campaign.updated_at %></div>
  <div><%= @campaign.summary %></div>
<button class="makeButton"><%= link_to "Edit Campaign", edit_campaign_path( @campaign ) %></button>

<%= form_for @campaign, method: :delete do |f| %>
  <%= f.submit "Delete Entire Campaign", class: "delete" %>
<% end %>

<% if @campaign.dmaster %>
  <h3>Dungeon Master</h3>
    <h4 class="emphasis"><%= link_to "#{@campaign.dmaster.name}", campaign_dmaster_path(@campaign, @campaign.dmaster) %></h4>
    <div><button class="makeButton"><%= link_to "Edit DM", edit_campaign_dmaster_path( @campaign, @campaign.dmaster ) %></button></div>
<% else %>
  <h3>Dungeon Master<%= link_to "(+)", new_campaign_dmaster_path( @campaign ) %></h3>
<% end %>

<h3>Characters <%= link_to "(+)", new_campaign_character_path( @campaign ) %></h3>
  <% @campaign.characters.each do |character| %>
      <h4 class="emphasis"><%= link_to "#{character.char_name}", campaign_character_path( @campaign, character ) %></h4>
      <h5><%= character.player_name %></h5>
      <div><button class="makeButton"><%= link_to "Edit Character", edit_campaign_character_path( @campaign, character ) %></button></div>
      <div><%= form_for [@campaign, character], method: :delete do |f| %>
        <%= f.submit "Delete Character", class: "delete" %>
      <% end %></div>
  <% end %>

  <h3>Adventures <%= link_to "(+)", new_campaign_adventure_path( @campaign ) %></h3>
    <% @campaign.adventures.each do |adventure| %>
        <h4 class="emphasis"><%= link_to "#{adventure.name}", campaign_adventure_path( @campaign, adventure ) %></h4>
        <div><button class="makeButton"><%= link_to "Edit Adventure", edit_campaign_adventure_path( @campaign, adventure ) %></button></div>
        <div><%= form_for [@campaign, adventure], method: :delete do |f| %>
          <%= f.submit "Delete Adventure", class: "delete" %>
        <% end %></div>
    <% end %>
