
<div id="back" class="emphasis"><%= link_to "Back to Campaigns", campaigns_path %></div>

<h2><%= @campaign.name %></h2>
  <div><span class="emphasis">Updated At: </span><%= @campaign.updated_at %></div>
  <div><%= @campaign.summary %></div>
<button class="makeButton"><%= link_to "Edit Campaign", edit_campaign_path( @campaign ) %></button>

<%= form_for @campaign, method: :delete do |f| %>
  <%= f.submit "Delete Entire Campaign", class: "delete" %>
<% end %>

<h3>Dungeon Master</h3>
  <h4><%= @campaign.dmaster.name %></h4>

<h3>Characters <%= link_to "(+)", new_campaign_character_url( @campaign ) %></h3>
  <% @campaign.characters.each do |character| %>
      <h4 class="emphasis"><%= character.char_name %></h4>
      <h5><%= character.player_name %></h5>
      <div><button class="makeButton"><%= link_to "Edit Character", edit_campaign_character_url( @campaign, character ) %></button></div>
      <div><%= form_for [@campaign, character], method: :delete do |f| %>
        <%= f.submit "Delete Character", class: "delete" %>
      <% end %></div>
  <% end %>
